.lyrics-countainer {
    margin: 5rem 0;
    padding: 0 2rem;
}

.lyrics-countainer h1 {
    margin: 4rem;
    color: #CB88FF;
    font-weight: normal;
    text-align: center;
    font-size: 1.3rem;;
}

.lyrics-and-story{
    display: flex;
    justify-content: space-around;
}

.lyrics-content {
  width: 350px;
  margin: 0 3rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
}

.lyrics-and-story h4,
.top-story h4{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: normal;
}

.top-story-content{
    margin: 0 3rem;
    padding: 2rem 2rem;
    min-width: 350px;
    min-height: 500px;
    background-color: #4C0BD1;
    color: white;
}