/* Album.css */

.header-album-container{
    display: flex;
    justify-content:space-evenly;
    padding: 12px;
}

.header-album-col2{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 12px;
}

.header-album-album{
    color: #4C0BD1;
}

.header-album-artist{
    color: #00C4CC;
}

.single-track-countainer{
    display: flex;
    align-items: center;
}

.trackNumber {
    margin: 1rem 1.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    background-color: #E43397;
    color: #FFFDFF;
    text-align: center;
}

.single-tracks{
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    background-color: #121640;
    color: #FFFDFF;
}

.single-title-button {
    background-color: transparent;
    padding: 0.5rem 0;
    border: none;
    color: #FFFDFF;
}