/* .carousel-root{
   position: absolute;
   margin-top: 10px;
   width: 100%;
   height: auto;
}

#imgslide{
    max-width: 150px;
    height: auto;
}

.carousel .thumb{
    margin: 0 5px;
    cursor: pointer;
}

@media screen and (min-width: 767px)  {
    .carousel-root{
        width: 767px;
        margin-left: 20%;
        margin-right: 20%;
     }
    .albumName h1{
        display: flex;
        justify-content: center;
        align-items: stretch;
        text-align: center;
        width: 100%;
    }
    .slider{
        width: 200px;
        height: 500px;
    }
    .slider-wrapper .imgslide{
        width: 250px;
        height: 500px;
    }
} */
